<!DOCTYPE html>
<html lang="es">
    <head class="head">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mercado Liebre</title>
        <script src="https://kit.fontawesome.com/18ef03eb70.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <header class="header">
            <div class="header_arriba">
                <div class="todo">
                    <img class="logo" src="/img/logo-mercado-liebre.svg" alt="logo mercado liebre">
                    <div class="caja_barra">
                        <input class="barra" type="textarea" placeholder="Buscar productos, marcas">
                    </div>
                    <div class="lupa">
                        <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                    </div>
                </div>
                <h4 class="h4"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de credito</h4>
            </div>
            <nav class="nav_ul">
                <ul class="ul-uno">
                    <li>Ofertas</li>
                    <li>Tiendas Oficiales</li>
                    <li>Vender</li>
                    <li>Ayuda</li>
        
                    <li><a href="/register">Creá tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a>Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>   
                
                <div 
                    class="menu-burguer"><i class="fas fa-bars" style="font-size:280%;"></i>
                </div>

            </nav>
        
        </header>
        <nav>
            <h1>Iniciar sesión</h1>
            <form class="login_form" action="/" method="get">
                <input class="login_usuario" type="text" name="usuario" placeholder="Nombre de usuario" required minlength="4" maxlength="8">
                <input class="login_email" type="email" name="E-mail" placeholder="E-mail" required>
                <input class="login_contraseña" type="password" name="contraseña" placeholder="Elige tu contraseña" required minlength="8" maxlength="12">
                <div class="login_button">
                    <button class="login_enviar" type="submit" >Enviar</button>
                    <button class="login_borrar" type="reset">Borrar datos</button>
                </div>
            </form>
        </nav>
        <footer>
            <section> 
                    <div 
                        class="icon-footer"><i class="fa-solid fa-credit-card" style="font-size:300%;"></i>
                    </div>
                    <div><h2>Pagá con tarjeta o en efectivo</h2>
                        <p>Con Mercado Liebre Cash, tenés cuotas <br> sin interés con tarjeta o efectivo en
                            puntos de <br> pago. ¡Y siempre es seguro!</p> 
                    </div>
                
                        <div 
                            class="icon-footer"><i class="fa-solid fa-gift" style="font-size:300%;"></i>
                        </div>
                    <div><h2>Envío gratis desde $ 2.500</h2>
                        <p>Solo por estar registrad@ en Mercado Liebre <br> tenés envíos gratis en miles de
                        productos. Es un <br> beneficio de Mercado Puntos.</p></div>
                
                    <div 
                        class="icon-footer"><i class="fa-solid fa-user-shield" style="font-size:300%;"></i>
                    </div>
                    <div><h2>Seguridad de principio a fin</h2>
                            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, <br>no hay nada que no puedas hacer,
                            porque estás <br> siempre protegid@.</p>
                    </div>
                
                    <div 
                        class="copy"><p>Copyright © 1999-2020 MercadoLiebre S.R.L. </p>
                    </div>
            </section>
        </footer>
    </body>
</html>