:root{
--ColorAmarillo: #EAC926;
--ColorAzul:#03264C;
--ColorCeleste:#1259c3;
--ColorGrisOscuro:#666;
--ColorGrisClaro:#ebebeb;
--ColorVerde: #39b54a;
--Fuente:'Roboto', sans-serif;
}

body{
    font-family: var(--Fuente);
    font-size: 12px;
    margin: 0;
    padding: 0;
    width: 100%;

}
