
.logo{
    width: 47%;
}

.todo{
    display: flex;
    flex-wrap: wrap;
    padding: 7% 4% 2% 8%;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}


.barra{
    position: relative;
    width: 47%;
}

.lupa{
    
}

header{
    background-color: var(--ColorAmarillo);
    width: 100%;
}

.menu-burguer{
    text-align: center;
}
.menu-burguer i{
    color: white;
    background-color: var(--ColorCeleste);
    font-size: 25px;
    padding: 10px;
    margin: 20px;
    border-radius: 20%;
}

.h4{
    text-align: center;
}

header ul{
    padding-left: 0%;
}

.ul-uno{
    display: inline;

}

