.banner img{
    padding: 0;
    margin: 0;
    width: 100%;
}

.main{
    justify-content: space-around;
    flex-direction: row;
    margin: 0 auto;
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
    bottom: 200%;
    
}

.h3{
    text-align: center;
    font-size: 24px;
    color: #7e7b7b;
}

.vistas_img{
    border-bottom: 2px solid var(--ColorGrisClaro);
    margin: 0;
    padding: 0;
    width: 100%;
}

.icono_envio{
    align-items: center;
    display: flex;
    padding: 15px 0;
    flex-wrap: wrap;
}

.icono_envio i{
    display: block;
    color: var(--ColorVerde);
    border: 1px solid #39b54a;
    background-color: #FFF;
    font-size: 16px;
    padding: 5px;
    height: 30px;
    width: 30px;
    border-radius: 50%;   
    position: absolute;
    right:20px;
    bottom: 53px;
}

.ofertas_img{
    border-bottom: 2px solid var(--ColorGrisClaro);
    margin: 0;
    padding: 0;
    width: 100%;
}
.articles{
   position: relative;
   padding-bottom: 10px;
   border-top: solid 1px #ebebeb;
   padding: 15px;

}
.precio{
    display: inline;
    justify-content: start;
    font-size: 133%;
    width: 30%;
    left: 20px;
}

footer {
    text-align: center;
}

.copy{
    text-align: left;
    color: var(--ColorGrisOscuro);
}
.icon-footer{
    color: var(--ColorCeleste);
}
.descuento{
    display: inline;
    justify-content: center;
    font-size: 133%;
    width: 70%;
    text-align: center;
    color: rgb(46, 187, 46);
    
}

@media (max-width: 361px){
    .header ul{
        display: none;
    }
    .nombre{
        display: none;
    }
    .barra{
        left: -2%;
        padding: 3%;
        border: solid 1px white;
        border-radius: 2%;
    }
    .lupa{
        position: absolute;
        color: var(--ColorGrisOscuro);
        border-radius: 20%;
        border: none;
        background-color: white;
        font-size: 100%;
        right: 7%;
    }
    .todo{
        align-items: center;
    }

}

@media (min-width:361px){

    .header{
        padding: 0;
    }
    .logo{
        max-width: 37%;
        margin-left: -6%;
        margin-top: -8%;
    }
    
    .barra{
        max-width: 40%;
        margin: auto;
        margin-bottom: 8%;
        margin-left: unset;
    }

    .lupa{
        color: black;
        left: 73%;
        top: 5%;
        width: 4%;
        border: solid 1px black;
        background-color: white;
    }
    .lupa i{
        font-size: 100%;
    }
    .todo{
        flex-direction: row;
        align-items: stretch;
    }
    .menu-burguer{
        display: none;
    }

    .articles{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 47%;
    }
    .nombre{
        display: block;
        
    }
    .header nav{
    display: block;
    }

    .icono_envio i{
        bottom: 68px;
    }
}   

@media (min-width: 769px){
    .main{
        padding-bottom: 20px;
    }
    .articles{
        width: 21.5%;
    }
    .logo{
        display: inline;
        max-width: 20%;
        height: auto;
        padding: 11px;
        margin-top: 10px;
    }
}

